button,
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--btn-height);
    background-color: transparent;
    color: var(--btn-primary-color);
    padding: 0 2rem;
    border: 2px solid var(--btn-primary-color);
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover{
        background-color: var(--btn-primary-color);
        color: var(--btn-primary-text-color);
    }
}