.buttons-group{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--btn-height);
    background-color: transparent;
    padding: 0 2rem;
    border: 2px solid var(--btn-primary-color);
    color: var(--btn-primary-color);
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    outline: none;
    cursor: pointer;
    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled){
        outline: none;
        border: 2px solid var(--btn-primary-color-hover);
        background-color: var(--btn-primary-color-hover);
        color: var(--btn-primary-text-color);
    }

    &:disabled{
        opacity: .5;
        cursor: not-allowed;
    }
}


/**
* Button STYLES
*
*/
.button-filled{
    color: var(--primary-text-color);
    background-color: var(--btn-primary-color);
    border-color: var(--btn-primary-color);
    &:hover,
    &:focus,
    &:active{

        background-color: var(--btn-primary-color-hover);
        border-color: var(--btn-primary-color-hover);
    }
}


/**
* Button COLORS
*
*/
.button-opposite-skin{
    background-color: transparent;
    border-color: var(--body-text-color);
    color: var(--body-text-color);
    &:hover,
    &:active{
        background-color: transparent;
        background-color: var(--body-text-color);
        border-color: var(--body-text-color);
        color: var(--body-bg-color);
    }
}
.button.button-gray{
    background-color: transparent;
    border-color: var(--gray-text-color);
    color: var(--gray-text-color);
    &:hover,
    &:active{
        background-color: transparent;
        background-color: var(--gray-text-color);
        border-color: var(--gray-text-color);
        color: var(--body-bg-color);
    }
}

/**
* Button Sizes
*/

.button-sm{
    height: 35px;
    padding: 0 1rem;
    font-size: .9rem;
}

.close-button{
    position: absolute;
    z-index: 1;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    border: 0;
    background-color: #fa5d5d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .1s linear;
    font-size: 1.6rem;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    &:hover:not(:disabled){
        border: 0;
        background-color: #cc2222;
    }
}