.buttons-group{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.button{
    --button-box-shadow-hover: 3px 3px 0 0;


    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--btn-height);
    padding: 0 1rem;
    border-radius: 3px;
    font-size: 0.93rem;
    font-weight: 600;
    text-decoration: none;
    outline: none;
    cursor: pointer;

    background-color: transparent;
    border: 2px solid var(--btn-primary-color);
    color: var(--btn-primary-color);
    transition: all 0.1s ease-in-out;
    box-shadow: 0;

    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled){
        outline: none;
        border: 2px solid var(--btn-primary-color);
        color: var(--btn-primary-color);
        box-shadow: var(--button-box-shadow-hover) var(--btn-primary-color);
    }

    &:disabled{
        opacity: .5;
        cursor: not-allowed;
    }
}



/**
* Button COLORS
*
*/

.button.button-light-primary{
    border-color: var(--primary-light);
    color: var(--primary-light);
    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled){
        border-color: var(--primary-light);
        color: var(--primary-light-text-color);
        box-shadow: var(--button-box-shadow-hover) var(--primary-light);

    }
}
.button.button-dark-primary{
    border-color: var(--primary-dark);
    color: var(--primary-dark);
    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled){
        border-color: var(--primary-dark);
        color: var(--primary-dark);
        box-shadow: var(--button-box-shadow-hover) var(--primary-dark);
    }
}

.button-opposite-skin{
    background-color: transparent;
    border-color: var(--body-text-color);
    color: var(--body-text-color);
    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled){
        background-color: transparent;
        border-color: var(--body-text-color);
        color: var(--body-bg-color);
    }
}
.button.button-gray{
    border-color: var(--gray-text-color);
    color: var(--gray-text-color);
    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled){
        border-color: var(--gray-text-color);
        color: var(--body-bg-color);
        box-shadow: var(--button-box-shadow-hover) var(--gray-text-color);
    }
}

.button.button-white{
    border-color: white;
    color: white;
    box-shadow: none;

    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled){
        border-color: white;
        color: white;
        box-shadow: var(--button-box-shadow-hover) white;
    }
}

.button.button-black{
    border-color: #000;
    color: #000;
    box-shadow: none;

    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled){
        border-color: #000;
        color: #000;
        box-shadow: var(--button-box-shadow-hover) #000;
    }
}



/**
* Button STYLES
*
*/
.button-borderless{
    border: 0;
    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled){
        border: 0;
        box-shadow: none !important;
    }
}
.button-filled{
    color: var(--primary-text-color);
    background-color: var(--btn-primary-color);
    border-color: var(--btn-primary-color);
    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled){

        background-color: var(--btn-primary-color-hover);
        border-color: var(--btn-primary-color-hover);
        box-shadow: var(--button-box-shadow-hover) var(--btn-primary-color-hover);

    }
}


/**
* Button Sizes
*/

.button-sm{
    height: 35px;
    padding: 0 1rem;
    font-size: .87rem;
}
.button-lg{
    height: 60px;
    padding: 0 2.5rem;
    font-size: 1.05rem;
}

.close-button{
    position: absolute;
    z-index: 1;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    border: 0;
    background-color: #fa5d5d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .1s linear;
    font-size: 1.6rem;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    &:hover:not(:disabled){
        border: 0;
        background-color: #cc2222;
    }
}