// container
.container{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 120px;
}
.container-small{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 3rem;
}
.container-big{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1.5rem;
}
@media screen and (max-width: 1300px){
    .container, .container-small{
        padding: 0 5rem;
    }
}
@media screen and (max-width: 1070px){
    .container, .container-small{
        padding: 0 3rem;
    }
}
@media screen and (max-width: 735px){
    .container {
    }
}

@media screen and (max-width: 540px){
    .container ,
    .container-big,
    .container-small{
        max-width: 100%;
        padding: 0 1.5rem;
    }
    
}


// SECTION
.section{
    padding: 7rem 0;
}
.section-header{
    margin-bottom: 5rem ;
}
.section-header-small{
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}
.section-title{
    font-family: var(--poppins);
    font-size: calc(2.6rem + 1.1vw);
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.1;
    font-weight: 500;
    .section-count{
        color: var(--primary);
        font-size: calc(2rem + .7vw);
    }
}
.section-subtitle{
    font-size: 1.2rem;
    margin-bottom: 0;
}



@media screen and (max-width: 735px){
    .section{
        padding: 2.5rem 0 ;
    }    
    .section-header{
        margin-bottom: 2.5rem;
    }
    .section-title{
        font-size: calc(2.5rem + 1vw);
        .section-count{
            font-size: calc(1.5rem + .7vw);
        }
    }
    .title-dashed{
        &:after{
            content: '';
            display: inline-block;
            min-width: 100px;
        }
    }
}
@media screen and (max-width: 540px){
}


/**
*
* Skewed Section
*/
.section-skewed{
    transform: skewY(-1deg);
    padding: 8rem 0;
    .section-skewed-inner{
        transform: skewY(1deg);
    }    
}