// container
.container{
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 3rem;
}
.container-small{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
}
.container-big{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

@media screen and (max-width: 1070px){
    .container{
        max-width: 850px;
    }
}
@media screen and (max-width: 735px){
    .container {
    }
}

@media screen and (max-width: 540px){
    .container ,
    .container-big,
    .container-small{
        max-width: 100%;
        padding: 0 1.5rem;
    }
    
}


// SECTION
.section{
    padding: 5rem 0;
}
.section-header{
    margin-bottom: 5rem ;
}
.section-header-small{
    max-width: 750px;
}
.section-title{
    font-size: calc(1.5rem + 1vw);
    margin-bottom: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
    .section-count{
        color: var(--gray-text-color);
        font-size: calc(1.5rem + .3vw);
    }
}
.section-subtitle{
    font-size: 1.2rem;
    margin-bottom: 0;
}

.title-dashed{
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
    
    &:after{
        content: '';
        display: inline-block;
        min-width: 150px;
        max-width: 100%;
        height: 2px;
        background-color: var(--body-text-color);
        opacity: .5;
    }
}


@media screen and (max-width: 735px){
    .section{
        padding: 3rem 0 ;
    }    
    .section-header{
        margin-bottom: 2.5rem;
    }
    .section-title{
        font-size: 1.8rem;
        line-height: 1.4;
    }
}

/**
*
* Skewed Section
*/
.section-skewed{
    transform: skewY(-1deg);
    padding: 8rem 0;
    .section-skewed-inner{
        transform: skewY(1deg);
    }    
}