::placeholder{
    color: var(--gray-text-color);
}
.input-group{
    margin-bottom: 1.5rem;
    label{

    }
}

input[type=text],
input[type=password],
input[type=number]{
    display: block;
    width: 100%;
    height: var(--input-height);
    padding: 0 1.5rem;
    border-radius: 4px;
    border: 1px solid var(--input-border-color);
    font-size: 1rem;
    color: var(--input-text-color);
    background-color: var(--input-background-color);
    margin-bottom: 1.5rem;
    outline: none;
    transition: var(--skin-change-transition); 
    &:focus,
    &:active{
        outline: none;
        border: 1px solid var(--input-border-color-focus);
    }
}
