.tag{
    display: inline-block;
    font-size: .85rem;
    font-weight: 600;
    margin-right: .5rem;
    margin-bottom: .5rem;
    background-color: var(--primary-lighter);
    color: black;
    padding: 10px 15px;
    border-radius: 2rem;

    @media screen and (max-width: 735px){
        padding: 7px 10px;
    }
}