.contact-section{
    text-align: center;
    padding: 3rem 0;
    .contact-section-inner{
        max-width: 800px;
        margin: 0 auto;
        background-color: var(--primary-gray-background-color);
        padding: 5rem 3rem;
        border-radius: 10px;
    }
}

@media screen and (max-width: 735px){
    .contact-section{
        .contact-section-inner{
            max-width: 100%;
            padding: 4rem 2rem;
        }    
    }
}
@media screen and (max-width: 540px){
    .contact-section{
        padding: 1.5rem 0;
        .contact-section-inner{
            max-width: 100%;
            padding: 3rem 2rem;
        }    
    }
}