.site-footer{
    background-color: var(--footer-bg-color);
    
    .footer-inner-wrapper{
        display: flex;
        justify-content: space-between;
        padding: 5rem 0;
    }
    .footer-copyright{
        font-size: 1.1rem;
        color: var(--gray-text-color);
    }
    .footer-nav{
        .nav-item{
            font-weight: 600;
            text-decoration: none;
            color: var(--gray-text-color);
            &:hover{
                color: var(--anchor-color-hover);
            }
        }
    }


    @media screen and (max-width: 735px){
        .footer-inner-wrapper{
            gap: 5rem;
            padding: 5rem 0;
            flex-direction: column;
            align-items: center;
        }    
    }

}