.site-footer{
    background-color: var(--footer-bg-color);
    .footer-contact-section{
        text-align: center;
        padding: calc(7rem + 2.5vw) 0 4rem;
    }
    .footer-bottom{
        display: flex;
        justify-content: space-between;
        padding: 5rem 0;
    }
    .footer-bottom-copy{
        font-size: 1.1rem;
        color: var(--gray-text-color);
    }
    .footer-nav{
        .nav-item{
            font-weight: 600;
            text-decoration: none;
            color: var(--gray-text-color);
            &:hover{
                color: var(--anchor-color-hover);
            }
        }
    }


    @media screen and (max-width: 735px){
        .footer-contact-section{
            padding: 7rem 0 0rem;

        }
        .footer-bottom{
            gap: 5rem;
            padding: 5rem 0 5rem;
            flex-direction: column;
            align-items: center;
        }
        .footer-bottom-copy{
            font-size: 1.2rem;
            color: var(--gray-text-color);
        }
    
    }

}