.site-footer{
    background-color: var(--footer-bg-color);
    color: var(--dark-gray-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    padding: 0rem 0 6rem;
    position: relative;
    isolation: isolate;


    .rising-squares-area{
        z-index: -1;
    }

    
    .footer-contact-section{
        padding: 7rem 0 4rem;
        font-family: var(--poppins);
        text-align: center;
    }
    .footer-contact-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;  
        h3, p, button{
            margin: 0;
        }
        p{
            font-size: 1.05rem;
            flex: 1;
            max-width: 550px;
        }
    }    
    @media screen and (max-width: 900px){
        .footer-contact-section{
        }
        .footer-contact-inner{
            flex-direction: column;
            gap: 2rem;    
            justify-content: center;
            button{
                width: 100%;
            }
        }    
    }

    // logo

    .logo-container{
        text-align: center;
    }

    // bottom    
    .footer-inner-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }
    .quote{
        margin-bottom: 1.5rem;
        text-align: center;
        max-width: 300px;
        font-family: var(--poppins);

    }
    .footer-nav{
        margin-bottom: 1.5rem;
        font-family: var(--poppins);

        .nav-item{
            font-weight: 900;
            font-size: .95rem;
            text-decoration: underline;
            color: var(--body-text-color);
            &:hover{
                color: var(--anchor-color-hover);
                text-decoration: none;
            }
        }
    }
    .footer-copyright{
        font-size: 1.05rem;
        span{
            display: block;
        }
    }
    .made-width{
        margin-top: 1rem;
        font-size: .95rem;
    }


    @media screen and (max-width: 740px){
        .footer-inner-wrapper{
            gap: .8rem;
        }
        .footer-nav{
            gap: 1rem;
        }
    }

}