.site-header{
    isolation: isolate;
    position: relative;

    .header-inner-wrapper{
        position: relative;

        padding: calc(3rem + 2vw) 0 1.5rem;
        background-color: var(--header-bg-color);
        transition: var(--skin-change-transition);
    }
    &:before{
        content: '';
        position: absolute;
        display: none;
        top: -10px;
        bottom: 10px;
        left: 0;
        right: 0.4px;
        background-color: var(--header-opposite-bg-color);
    }


    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav{
        gap: 3.5rem;
    }
    .nav-item{
        padding: 1rem 0;
        color: var(--header-text-color);
        font-size: 0.9rem;
        text-decoration: none;
        text-transform: uppercase;   
        cursor: pointer;
    }
    .nav-item:hover{
        color: var(--header-text-hover-color);
    }

    .svg-icon{
        path{
            fill: var(--header-text-color);
        }
        width: 3.5rem;
        height: 3.5rem;
    }

}

@media screen and (max-width: 1300px){
    .site-header{
        .header-inner-wrapper{
            padding: 3rem 0 1.5rem;
        }
    }
}
@media screen and (max-width: 735px){
    .site-header{
        .header-inner-wrapper{
            padding: 1.8rem 0 1rem;
        }
    }

}

@media screen and (max-width: 540px){
    .site-header{
        padding-top: 10px;
        .header-inner-wrapper{
            padding: 1.5rem 0 1rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;    
        }
        &:before{
            display: block;
        }
        .nav-item{
            font-size: .85rem;
        }
        .nav{
            gap: 1.5rem;
        }    
        .svg-icon{
            width: 2.5rem;
            height: 2.5rem;
        }

    }
}
