
.site-header{
    isolation: isolate;
    position: relative;
    color: var(--header-text-color);    

    .header-inner-wrapper{
        position: relative;
        padding: 1rem 0 ;
        background-color: var(--header-bg-color);
        transition: var(--skin-change-transition);
    }
    &:before{
        content: '';
        position: absolute;
        display: none;
        top: -10px;
        bottom: 10px;
        left: 0;
        right: 0.4px;
        background-color: var(--header-opposite-bg-color);
    }


    .container, .container-small{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-svg{
        path{
            fill: var(--header-opposite-bg-color);
        }
    }

    .nav{
        gap: 3rem;
    }
    .nav-item{
        padding: 1rem 0;
        color: currentColor;
        font-size: 0.93rem;
        text-decoration: none;
        text-transform: uppercase;   
        cursor: pointer;
        font-family: var(--poppins);
        font-weight: 500;
    }
    .nav-item:hover{
        color: var(--header-text-hover-color);
    }
    .button{
        height: 60px;
        font-size: 1rem;
        color: currentColor;
        border-color: currentColor;
        &:hover{
            color: currentColor;
            border-color: currentColor;
            box-shadow: 2px 2px 0 currentColor;    
        }
    }

}



@media screen and (max-width: 735px){
    .site-header{
        .header-inner-wrapper{

        }
    }

}

@media screen and (max-width: 540px){
    .site-header{
        padding-top: 10px;
        .header-inner-wrapper{
            padding: 1rem 0 1rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;    
        }
        &:before{
            display: block;
        }
        .nav-item{
            font-size: .85rem;
        }
        .nav{
            gap: 1.5rem;
        }    
    }
}


.has-fixed-header .site-header{
    position: absolute;
    z-index: 1;
    width: 100%;
    color: var(--fixed-header-text-color);

    .header-inner-wrapper{
        background-color: transparent;
    }
    .logo-svg{
        path{
            fill: var(--fixed-header-text-color);
        }
    }

    // HIDE THE Black BG On Small screens;
    &:before{
        display: none;
    }
    .nav-item:hover{
        color: var(--fixed-header-text-hover-color);
    }
}


.site-header.text-white{
    color: #dedede;
    .logo-svg{
        path{
            fill: #dedede;
        }
    }
}


