
.site-header{
    isolation: isolate;
    position: relative;

    .header-inner-wrapper{
        position: relative;

        padding: 1rem 0 ;
        background-color: var(--header-bg-color);
        transition: var(--skin-change-transition);
    }
    &:before{
        content: '';
        position: absolute;
        display: none;
        top: -10px;
        bottom: 10px;
        left: 0;
        right: 0.4px;
        background-color: var(--header-opposite-bg-color);
    }


    .container, .container-small{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav{
        gap: 3rem;
    }
    .nav-item{
        padding: 1rem 0;
        color: var(--header-text-color);
        font-size: 1rem;
        text-decoration: none;
        text-transform: uppercase;   
        cursor: pointer;
        font-family: var(--poppins);
        font-weight: 500;
    }
    .nav-item:hover{
        color: var(--header-text-hover-color);
    }

    .svg-icon{
        path{
            fill: var(--header-text-color);
        }
        width: 3.5rem;
        height: 3.5rem;
    }

}



@media screen and (max-width: 735px){
    .site-header{
        .header-inner-wrapper{

        }
    }

}

@media screen and (max-width: 540px){
    .site-header{
        padding-top: 10px;
        .header-inner-wrapper{
            padding: 1rem 0 1rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;    
        }
        &:before{
            display: block;
        }
        .nav-item{
            font-size: .85rem;
        }
        .nav{
            gap: 1.5rem;
        }    
        .svg-icon{
            width: 2.5rem;
            height: 2.5rem;
        }

    }
}


.has-fixed-header .site-header{
    position: absolute;
    z-index: 1;
    width: 100%;

    .header-inner-wrapper{
        background-color: transparent;
    }

    // HIDE THE Black BG On Small screens;
    &:before{
        display: none;
    }
    .logo-svg{
        path{
            fill: var(--fixed-header-text-color);
        }
    }
    .nav-item{
        color: var(--fixed-header-text-color);
    }
    .nav-item:hover{
        color: var(--fixed-header-text-hover-color);
    }
    .svg-icon{
        path{
            fill: var(--fixed-header-text-color);
        }
    }    

}


.site-header.text-white{
    .logo-svg{
        path{
            fill: #f9f9f9;
        }
    }

    .nav-item{
        color: #b3b3b3;
    }
    .nav-item:hover{
        color: white;
    }
    .svg-icon{
        path{
            fill: #f9f9f9;
        }
    }    

}


