*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    
}
img{
    max-width: 100%;
    height: auto;
}

a, .link{
    color: var(--anchor-color);
    &:focus,
    &:active,
    &:hover{
        color: var(--anchor-color-hover);
        border: 0;
        outline: 0;
    }
}
a.link-default, .link-default {
    color: var(--body-text-color);
    text-decoration: none;
    &:hover{
        color: var(--body-text-color);
    }
}

h1, h2, h3, h4 , h5, h6{
    margin-bottom: 0.8em;
    font-weight: 900;
}
h1 { 
    font-size: 2.6rem;
    line-height: 1.2em;
}
h2 { 
    font-size: 2.2rem; 
    line-height: 1.333em;
}
h3 { 
    font-size: 1.8rem;
    line-height: 1.45;
 }
h4{
    font-size: 1.6rem;
    line-height: 1.5;
}
h5 { 
    font-size: 1.4rem;
    line-height: 1.55;
}
h6 { 
    font-size: 1.2rem;
    line-height: 1.75;
 }
p{
    font-size: 1.15rem;
    line-height: 1.756;
    margin-bottom: 2rem;
}

blockquote{
    margin: calc(1rem + 1vw) auto calc(2rem + 1.3vw);
    margin-left: calc(-1rem - 4px);
    padding-left: 1rem;
    color: inherit;
    border-left: 4px solid var(--primary-light);
    font-size: 1.2rem;
    line-height: 1.7;
    h3, h4, h5{
        margin-top: 0;
        padding: 0 1rem;
        font-weight: 400;
        color: var(--gray-text-color);
    }
    p{
        font-size: inherit;
        padding-right: 2rem;
        padding-bottom: 0;
        margin: 0 auto;
        font-style: italic;
    }
}


@media screen and (max-width: 735px){
    blockquote{
        h3{
            padding: 0 4rem;
        }
    }
    
}

