.logo-image,
.logo-svg{
    width: 130px;
    path {
        fill: var(--logo-color);
        transition: var(--skin-change-transition);
    }
}
@media screen and (max-width: 735px){
    .logo-image,
    .logo-svg{
        width: 100px;
        path {
            fill: var(--logo-color);
        }
    
    }    
}

.logo-image-primary,
.logo-svg-primary{
    path {
        fill: var(--primary);
        transition: var(--primary);
    }
}


/**
*
* ICONS
*/
.svg-icon{
    path{
        transition: var(--skin-change-transition);
    }
}

.svg-icon-primary{
    path{
        transition: var(--skin-change-transition);
        fill: var(--primary);
    }
}
.svg-icon-primary-dark{
    path{
        transition: var(--skin-change-transition);
        fill: var(--primary-dark);
    }
}
.svg-icon-primary-darker{
    path{
        transition: var(--skin-change-transition);
        fill: var(--primary-darker);
    }
}