

/**
 * floats
*/

.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clear-both{
    clear: both;
}

/**
 * Positions
*/
.position-absolute{
    position: absolute;
}
.position-relative{
    position: relative;
}
