.text-decoration-none{
    text-decoration: none;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}


//colors
.text-body{
    color: var(--body-text-color) !important;
}

.text-primary{
    color: var(--primary) !important;
}
.text-inherit{
    color: inherit !important;
}
.text-gray{
    color: var(--gray-text-color) !important;
}
.text-dark-gray{
    color: var(--dark-gray-text-color) !important;
}

.text-danger{
    color: #c81414 !important;
}
