
.page-enter-active {
    transition: all .2s cubic-bezier(1, 0, 0, 1);
}

.page-leave-active {
    transition: all .2s cubic-bezier(1, 0, 0, 1);
}

.page-enter-from{
    transform: translateX(-20%);
    opacity: 0;
}

.page-leave-to {
    transform: translateX(20%);
    opacity: 0;
}