@import './defaults.scss';
@import './skins/all.scss';
@import './css-components/_all.scss';
@import './helpers/all';
@import './layouts/default.scss';
@import './layouts/admin.scss';

@import './components/_all.scss';
@import './partials/_all.scss';
@import './page/all.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');




:root{
   --lato : 'Lato', sans-serif;

    // breakpoints
    --breakpoint-lg: 1300px
    --breakpoint-medium: 1070px;
    --breakpoint-small: 735px;
    --breakpoint-xsmall: 540px;

    font-size: 16px;
    text-rendering: optimizeLegibility; 
}
::selection{
    background-color: var(--selection-bg-color);
    color: var(--selection-text-color);
}

body{
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 735px){
    :root{
        font-size: 14px;
    }
}



