@import './defaults.scss';
@import './skins/all.scss';
@import './css-components/_all.scss';
@import './helpers/all';
@import './animations/all.scss';

@import './layouts/default.scss';
@import './layouts/admin.scss';

@import './components/_all.scss';
@import './partials/_all.scss';
@import './page/all.scss';


.page-enter-active {
    transition: all .3s ease-in-out;
}

.page-leave-active {
    transition: all .3s ease-in-out;
}

.page-enter-from{
    transform: translateX(-50%);
    opacity: 0;
}
.page-leave-to {
    transform: translateX(50%);
    opacity: 0;
}