@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
// import poppins font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root{
    --lato : 'Lato', sans-serif;
    --poppins : 'Poppins', sans-serif;

    // breakpoints
    --breakpoint-lg: 1300px
    --breakpoint-medium: 1070px;
    --breakpoint-small: 735px;
    --breakpoint-xsmall: 540px;

    font-size: 16px;
    text-rendering: optimizeLegibility; 
}
::selection{
    background-color: var(--selection-bg-color);
    color: var(--selection-text-color);
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.15rem;
}

@media screen and (max-width: 735px){
    :root{
        font-size: 14px;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
mark{
    background-color: var(--mark-bg-color);
    color: var(--mark-text-color);
}
input, textarea, div{
    font-size: 1rem;
}
img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

a, .link{
    color: var(--anchor-color);
    &:focus,
    &:active,
    &:hover{
        color: var(--anchor-color-hover);
        border: 0;
        outline: 0;
    }
}
a.link-default, .link-default {
    color: inherit;
    text-decoration: none;
    &:hover{
        color: inherit;
    }
}
label{
    color: var(--body-text-color);
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
    display: inline-block;
}
h1, h2, h3, h4 , h5, h6{
    font-family: var(--poppins);
    margin-bottom: 0.8em;
    font-weight: 800;
    letter-spacing: -.02em;
}
h1 { 
    font-size: 2.5rem;
    line-height: 1.2em;
}
h2 { 
    font-size: 2.1rem; 
    line-height: 1.333em;
    margin: 1rem 0 0.6rem;
}
h3 { 
    font-size: 1.8rem;
    line-height: 1.45;
    margin: 1.2rem 0 0.6rem;
}
h4{
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 1.4rem 0 0.6rem;
}
h5 { 
    font-size: 1.4rem;
    line-height: 1.55;
    margin: 1.7rem 0 0.6rem;
}
h6 { 
    font-size: 1.2rem;
    line-height: 1.75;
    margin: 2rem 0 0.6rem;
}
p{
    font-size: 1.15rem;
    line-height: 1.756;
    margin-bottom: 2rem;
}
ul,
ol{
    list-style: none;
    counter-reset: list;
    position: relative;
    padding: .8rem 0 1.8rem 1.8rem;
    li{
        position: relative;
        padding-bottom: 1rem;
        &:before{
            width: 3rem;
            display: inline-block;
            position: absolute;
            color: var(--body-text-color);
            content: "";
            position: absolute;
            left: -30px;
            top: 8px;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background: var(--body-text-color);
        }
    }
    li :is(p, strong, span){ 
        margin: 0;
    }
}

blockquote{
    margin: calc(1rem + 1vw) auto calc(2rem + 1.3vw);
    margin-left: calc(-1rem - 4px);
    padding-left: 1rem;
    color: inherit;
    border-left: 4px solid var(--primary);
    font-size: 1.2rem;
    line-height: 1.7;
    h3, h4, h5, h6{
        margin: 0;
        font-weight: 400;
        color: var(--gray-text-color);
        padding: 0 1rem;
        padding-right: 5rem;
    }
    p{
        font-size: inherit;
        font-style: italic;
        margin: 0 auto;
        padding-right: 5rem;
        padding-bottom: 0;
    }
}

hr {
    border: none;
    border-top: 2px solid rgba(#0D0D0D, 0.1);
    margin: 2rem 0;
}

code {
    background-color: var(--code-bg-color);
    color: var(--code-text-color);
    padding: .2rem .4rem;
    margin: 0 .4rem;
    border-radius: 4px;
}

pre {

    background: var(--pre-bg-color);
    color: var(--pre-text-color);
    font-family: 'JetBrainsMono', monospace;
    border-radius: 7px;
    padding: 0.75rem 1rem;
    margin: 1rem 0  2rem;

    code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 1rem;
    }
}






@media screen and (max-width: 735px){
    blockquote{
        p, h3, h4, h5,h6{
            padding-right: 2rem;
        }
    }
}

@media screen and (max-width: 540px){
    blockquote{
        margin-left: 0rem;
        padding-left: 1rem;
    }
}

