
.site-layout{
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    .site-header{

    }
    .site-content{
        min-height: 100vh;
        min-height: 100dvh;   
    }
    .site-footer{

    }
}