
.site-layout{
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    transition: var(--skin-change-transition);
    overflow-x: hidden;


    .site-header{

    }
    .site-content{
        
    }
    .site-footer{

    }
}
