

.home-page{

    .home-hero{
        background-color:#91d6ff;        
        transform: skewY(-1deg);
        position: relative;
        top: -20px;
        padding-top: 20px;
    }
    .home-hero-wrapper{
        transform: skewY(1deg);
        min-height: 75vh;
        min-height: 75dvh;
        padding: 7rem 0;

        height: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }
    .home-hero-avatar-container{
        width: 200px;
        margin: 0 auto;
    }
    .home-hero-content{
        flex: 1;
        position: relative;
        .flying-plane-wrapper{
            position: absolute;
            right: 10%;
            top: -20px;
        }    
    }
    .home-hero-title{
        font-size: 3.5rem;
        margin-bottom: 0rem;
    }
    .home-hero-subtitle{
        font-weight: 600;
        font-size: 1.4rem;
        margin: .5em 0;
    }
    @media screen and (max-width: 735px){

        .home-hero-wrapper{
            gap: 1.5rem;
        }
        .home-hero-avatar-container{
            width: 200px;
        }
        .home-hero-content{
            .flying-plane-wrapper{
                top: 0px;
            }    
        }
        .home-hero-title{
            font-size: 2.7rem;
        }

    }
    
    @media screen and (max-width: 535px){
        .home-hero-wrapper{
            min-height: 75vh;
            min-height: 75dvh;
            padding: 10rem 0 7rem;
        }
    }



    // sections
    .section-header{
    }
    .section-title{
    }


    // proejcts
    .things-ive-built-section{
    }



    // skills
    .skills-section{
    }

    .articles-section{

    }

}

@media screen and (max-width: 850px){
    .home-page{
        .home-hero{
        }
        .home-hero-wrapper{
            gap: 2rem;
        }
        .home-hero-avatar-container{
            width: 170px;
        }
        .home-hero-content{

        }

    }
   
}
