

.home-page{

    .home-hero{
        background-color: #FBAB7E;
        background-image: linear-gradient(110deg, #FBAB7E 0%, #F7CE68 100%);

        background-color: #FAD961;
        background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);


        top: -20px;
        padding-top: 20px;
        position: relative;
        overflow: hidden;

    }
    .home-hero-wrapper{
        min-height: 75vh;
        min-height: 75dvh;
        padding: 7rem 0;
        height: 100%;
        
        display: flex;
        align-items: center;
        position: relative;
    }
    
    .home-hero-avatar-container{
        width: 200px;
        margin: 0 auto;
    }
    .home-hero-content{
        flex: 1;
        max-width: 500px;
    }

    // CAT
    .hanging-cat{
        position: absolute;
        top: 5%;
        right: 10%;
    }




    .home-hero-title{
        font-weight: 600;
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }
    .home-hero-subtitle{
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .home-hero-description{
        font-size: 1rem;
        margin-bottom: 1.2rem;
    }

    @media screen and (max-width: 735px){

        .home-hero-wrapper{
            gap: 1.5rem;
        }
        .home-hero-avatar-container{
            width: 200px;
        }
        .home-hero-content{
        }
        .home-hero-title{
            font-size: 2.7rem;
        }

    }
    
    @media screen and (max-width: 535px){
        .home-hero-wrapper{
            min-height: 75vh;
            min-height: 75dvh;
            padding: 10rem 0 7rem;
        }
    }



    // sections
    .section-header{
    }
    .section-title{
    }


    // proejcts
    .things-ive-built-section{
    }



    // skills
    .skills-section{
    }

    .articles-section{

    }

}

@media screen and (max-width: 850px){
    .home-page{
        .home-hero{
        }
        .home-hero-wrapper{
            gap: 2rem;
        }
        .home-hero-avatar-container{
            width: 170px;
        }
        .home-hero-content{

        }

    }
   
}
