.article-link{
    //background-color: var(--body-bg-color);
    display: block;
    margin-bottom: 6rem;
    text-decoration: none;
    color: currentColor;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    scale : 1;
    transition: all 300ms ease-in-out;
    &:focus,
    &:hover{
        scale: 1.04;
        color: currentColor;
        .article-link-title{
            text-decoration: underline;
        }
    }
    .article-image-container{
    }
    .article-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .article-data{
         //padding: 1rem 2.5rem 2.5rem;
    }
    .article-link-title{
        font-size: 1.4rem;
        font-weight: 600;
        margin: 1.5rem 0 1rem;
    }
    .article-link-description{
        font-size: 1.1rem;
        line-height: 1.7;
        //color: var(--gray-text-color);
        margin-bottom: 1.4em;
    }
    .article-link-metadata{
        font-size: 0.9rem;
        color: var(--gray-text-color);
        font-weight: 600;
    }
}

@media screen and (max-width: 1070px){

}

@media screen and (max-width: 735px){
    .article-link{
        margin-bottom: 3rem;
        .article-link-title{
            margin-top: 1.6rem; 
        }
    }
}


.three-columns-grid.articles-grid,
.four-columns-grid.articles-grid{
    @media screen and (max-width: 1300px){
        grid-template-columns: 1fr 1fr 1fr;
    }        

    @media screen and (max-width: 1070px){
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 540px){
        grid-template-columns: 1fr;
    }
}


