.article-link{
    display: block;
    margin-bottom: 6rem;
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.04);
        color: currentColor;
    }
    &:focus{
        .article-link-title{
            color: var(--anchor-color);
        }
    }
    .article-image-container{
    }
    .article-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transform: scale(1);
        transition: all 0.3s ease-in-out;
        border-radius: 5px;
        box-shadow: 0 1px 3px transparent,0 1px 2px rgba(0,0,0,.2);

        &:hover{
            // filter: grayscale(100%);
        }
    }
    .article-data{

    }
    .article-link-title{
        font-size: 1.4rem;
        font-weight: 600;
        margin: 1.2rem 0 .8rem;
    }
    .article-link-description{
        font-size: 1.1rem;
        line-height: 1.7;
        color: var(--gray-text-color);
        margin-bottom: 1.4em;
    }
    .article-link-metadata{
        font-size: 0.9rem;
        color: var(--gray-text-color);
        font-weight: 600;
    }
}

@media screen and (max-width: 1070px){

}

@media screen and (max-width: 735px){
    .article-link{
        margin-bottom: 3rem;
        .article-link-title{
            margin-top: 1.6rem; 
        }
    }
}


.three-columns-grid.articles-grid{

    @media screen and (max-width: 1070px){
        grid-template-columns: 1fr 1fr;
    }        
    @media screen and (max-width: 540px){
        grid-template-columns: 1fr;
    }        

}


