.article-author{
    display: inline-flex;
    align-items: center;
    .author-image{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-right: 15px;
    }
    .author-name{
        font-size: 1.2rem;
        color: var(--gray-text-color);
        font-weight: 600;
    }
    .author-bio{

    }
}

@media screen and (max-width: 735px){
    .article-author{
        .author-image{
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }
        .author-name{
            font-size: 1.1rem;
        }
    }
}
