.hero-fullscreen{

    background: #ffb254;  
    background: -webkit-radial-gradient( #ffdb3a, #ffb254);  
    background: var(--primary-gradient); 


        

    position: relative;
    overflow: hidden;

    // CAT
    .hanging-cat{
        position: absolute;
        top: 13%;
        right: 26%;
    }
}
.hero-fullscreen-wrapper{
    min-height: 100vh;
    min-height: 100dvh;
    padding: 7rem 0;
    height: 100%;
    
    display: flex;
    align-items: center;
    position: relative;
}

.hero-fullscreen-content{
    flex: 1;
    max-width: 600px;
}





.hero-fullscreen-title{
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 1.4rem;
    opacity: 0.9;
}
.hero-fullscreen-subtitle{
    font-family: var(--poppins);
    font-weight: 500;
    font-size: 1.4rem;   
    line-height: 1;
    margin-bottom: 1.3rem;
    opacity: 0.9;
}
.hero-fullscreen-description{
    font-size: 1.1rem;
    margin-bottom: 2.5rem;
    opacity: 0.85;
}

@media screen and (max-width: 735px){
    .hero-fullscreen{
        .interactive-blob-container{
            display: none;
        }
    }

    .hero-fullscreen-wrapper{
        gap: 1.5rem;
    }
    .hero-fullscreen-avatar-container{
        width: 200px;
    }
    .hero-fullscreen-content{
    }
    .hero-fullscreen-title{
        font-size: 2.7rem;
    }    
}
@media screen and (max-width: 540px){
    .hero-fullscreen{
        .hanging-cat{
            display: none;
        }    
    }
    .hero-fullscreen-wrapper{
        padding: calc(10rem + 3vh) 0 7rem;
        align-items: flex-start;
    }
}

