.hero-fullscreen{
    background: var(--primary-gradient);

    position: relative;
    overflow: hidden;

    // CAT
    .hanging-cat{
        position: absolute;
        top: 13%;
        right: 26%;
    }

    .rising-squares-area{
        .circles li{
            background: rgba(255,255,255,.3);
        }
    }
}
.hero-fullscreen-wrapper{
    //transform: skewY(2deg);

    min-height: 100vh;
    min-height: 100dvh;
    padding: 7rem 0;
    height: 100%;
    
    display: flex;
    align-items: center;
    position: relative;
}

.hero-fullscreen-content{
    flex: 1;
    max-width: 600px;
}





.hero-fullscreen-title{
    font-family: var(--poppins);
    font-weight: 500;
    font-size: calc(3.3rem + 1vw);
    line-height: 1.1;
    margin: 0;
}
.hero-fullscreen-description{
    font-size: 1.2rem;
    margin-top: 1.3rem;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 735px){
    .hero-fullscreen{
        .interactive-blob-container{
            display: none;
        }
    }

    .hero-fullscreen-wrapper{
        gap: 1.5rem;
    }
    .hero-fullscreen-avatar-container{
        width: 200px;
    }
    .hero-fullscreen-content{
    }
    .hero-fullscreen-title{
        font-size: 3.5rem;
    }
}
@media screen and (max-width: 540px){
    .hero-fullscreen{
        .hanging-cat{
            display: none;
        }    
    }
    .hero-fullscreen-wrapper{
        padding: calc(10rem + 2vh) 0 7rem;
        align-items: flex-start;
    }
}

