.images-manager{
    --image-width: 144px;
    --image-height: 143px;
    margin-top: 2rem;

    .images-container{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        margin: 0.5rem 0 1rem;
    }
    .images-manager-image{  
        position: relative;
        width: var(--image-width);
        img{
            width: var(--image-width);
            height: var(--image-height);
            object-fit: cover;
            border-radius: 5px;
            cursor: pointer;
        }
        .close-button{

        }
        .image-url-input{
            max-width: 100%;
            height: auto;
            padding: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            color: var(--gray-text-color);
        }
    }
    .input-group{

    }


    @media screen and (max-width: 540px){
        --image-width: 100px;
        --image-height: 100px;            
    }
}