.project{
    --project-image-overlay-color: transparent;

    color: var(--body-text-color);
    transition: var(--skin-change-transition);
    text-decoration: none;
    display: flex;
    width: 100%;
    position: relative;
    &:hover{
        color: var(--body-text-color);
        .project-image-container{
            transform: translateY(-50%) scale(1.05);
            &:after{
                opacity: 0;
            }
        }
    }
    .project-image-container{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) scale(1);
        box-shadow: 0 1px 3px transparent,0 1px 2px rgba(0,0,0,.1);
        cursor: pointer;
        transition: all .2s ease-in-out;
        width: auto;
        min-width: 470px;
        max-width: 60%;
        max-height: 100%;
        height: auto;
        border-radius: 6px;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top center;
        }
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--project-image-overlay-color);
            opacity: .1;
            transition: all .2s linear ;
        }
    }
    .project-content{
        max-width: clamp(30px, 60%, 500px);
        position: relative;
        z-index: 1;
        padding: 1.2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    .project-featured{
        display: none; // hite it for noe

        font-weight: 600;
        color: var(--primary);
        font-size: .95rem;
    }
    .project-name{
        display: block;
        margin: 0;
    }
    .project-description{
        background-color: #333;
        color: #eee;
        transition: var(--skin-change-transition);

        margin: .3rem 0 .2rem;
        padding: 1.5rem ;
        border-radius: 4px;
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .project-skills{
        display: flex;
        gap: 1rem;
        span{
            font-size: 1.05rem;
            font-weight: 500;
        }
    }

    .project-links{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .project-link{
    }
    .project-link-icon{
        width: 1.5rem;
        height: 1.5rem;
    }
    
}


.project.project-right{
    flex-direction: row-reverse;
    text-align: right;
    .project-image-container{
        left: 0;
        right: auto;
    }
    .project-content{
    }
    .project-skills{
        flex-direction: row-reverse;
    }
    .project-links{
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 780px){
    .project,
    .project.project-right{
        --project-image-overlay-color: #0a1b09;

        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
        &:hover{
            .project-image-container{
                transform: translateY(-50%) scale(1);
                &:after{
                    opacity: .9;
                }
            }
        }
        .project-image-container{
            transform: translateY(-50%) scale(1);
            max-width: initial;
            min-width: auto;
            position: relative;
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            img{
                max-height: 380px;
            }
            &:after{
                opacity: .9;
            }
        }
        .project-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 3.5rem 2rem;
            max-width: initial;
            min-width: auto;
            grid-column: 1 / -1;            
            grid-row: 1 / -1;
            color: white;
        }    
        .project-description{
            padding: 0;
            background-color: transparent;
            color: white;
        }
        .project-skills,
        .project-links{
            flex-direction: row;
        }
        .project-links{
            .svg-icon{
                path{
                    fill: white;
                }
            }
            .website-icon{
                path, polyline, line{
                    stroke: white!important;
                }
            }
        }

    }
}

@media screen and (max-width: 535px){
    .project,
    .project.project-right{
        .project-image-container{
            img{
                max-height: 350px;
            }
        }
        .project-content{
        }
    }
}


// when skin is dark
.skin-dark{
    .project{
        .project-links{
            .svg-icon{
                path{
                    fill: white;
                }
            }
            .website-icon{
                path, polyline, line{
                    stroke: white!important;
                }
            }
        }
    }
}
