.published-by{
    margin-bottom: calc(3.5rem + 1.5vw);
    .published-by-image{
        height: 75px;
        width: 75px;
        border-radius: 50%;
    }
    .published-by-name{
        font-weight: 600;
        font-size: 1.55rem;
        font-family: var(--lato);
    }
    .published-by-description{
        font-size: 1.1rem;
        line-height: 1.7;
    }    
    @media screen and (max-width: 735px){
        .published-by-image{
            height: 65px;
            width: 65px;
        }
    }
}
