
.skills-section{
}

.skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;


    .main-skill{
        max-width: 400px;
        &:not(:last-of-type){ 
            
        }
    }
    .main-skill-title{
        margin-top: 0;
        display: inline-block;
        color: inherit;
        border-radius: 5px;
        font-size: 1.3rem;
    }
    .main-skill-description{
        display: none;
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
    .sub-skills-list{
    }


}


@media screen and (max-width: 1024px){
    .skills{
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
        .main-skill{
        }        
    }        
}

@media screen and (max-width: 735px){
    .skills{
        grid-template-columns: 1fr;
        gap: 0rem;
        .main-skill{
        
        }        
        .sub-skills-list{
            margin-left: .5rem;
        }

    }        
}
