.skin-light{
    --skills-bg-color: var(--body-bg-color);
    --skills-text-color: var(--body-text-color);
    --skills-border-color: #ccc;
}
.skin-dark{
    --skills-bg-color: var(--gray-background-color);
    --skills-text-color: var(--body-text-color);

    --skills-border-color: #555;
}

.skills{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 1rem;

    .main-skill{
        flex: 1;
        //background-color: rgba(0, 0, 0, .1);
        border-radius: 15px;
        padding: 3rem 2rem;
        &:not(:last-of-type){ 
            
        }
    }
    .main-skill-title{
        display: inline-block;
        padding: 0 .5rem;
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
        color: inherit;
        border-radius: 5px;
    }
    .main-skill-description{
        font-size: 1.1rem;
        margin-bottom: 2.5rem;
    }

    .sub-skills-heading{
        font-weight: bold;
    }
    .sub-skills-list{
        span{
            display: block;
            text-align: center;
            font-size: 1rem ;
            line-height: 2;

        }
    }

}


@media screen and (max-width: 850px){
    .skills{
        flex-direction: column;
        .main-skill{
        }        
    }        
}
