
.skills-section{
}

.skills{
    margin-top: 3rem;


    .main-skill{
        &:not(:last-of-type){ 
            
        }
    }
    .main-skill-title{
        margin-top: 0;
        display: inline-block;
        color: inherit;
        border-radius: 5px;
        font-size: 1.2rem;
    }
    .main-skill-description{
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
    .sub-skills-list{
        font-size: 1rem;
        padding-bottom: 0;
        li{
            line-height: 1;
        }
    }
}
