.tiptap-editor{
    .controls{
        display: flex;
        flex-wrap: wrap;
        gap: .3rem;
        margin-bottom: .4rem;
    }
    .control-button{
        // border-color: var(--gray-text-color);

        &.is-active{
            background-color: var(--gray-text-color);;
            color: var(--body-bg-color);
        }
    }

    .ProseMirror{
        padding: 1rem 2rem;
        max-height: 550px;
        overflow: auto;
        border: 1px solid var(--body-text-color);
        border-radius: 0.5rem;
        
        .ProseMirror-gapcursor{
            border-left: 1px solid #000;
            border-right: 1px solid #000;
        }
    }

}
