.tiptap-editor{
    .controls{
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        margin-bottom: 1.5rem;
    }
    .control-button{
        background-color: transparent;
        border-color: var(--body-text-color);
        color: var(--body-text-color);
        height: 35px;
        padding: 0 1rem;
        font-size: .9rem;
        &:hover,
        &:active{
            background-color: transparent;
            border-color: var(--body-text-color);
            color: var(--body-text-color);
        }
        &.is-active{
            background-color: var(--body-text-color);
            color: var(--body-bg-color);
        }
    }

    .ProseMirror{
        padding: 1rem 2rem;
        max-height: 650px;
        overflow: auto;
        border: 1px solid var(--body-text-color);
        
        .ProseMirror-gapcursor{
            border-left: 1px solid #000;
            border-right: 1px solid #000;
        }
    }

}
