.base-skin{
    // forms
    // input
    --input-height: 50px;
    // button
    --btn-height: 50px;

    --skin-change-transition: background-color 0.3s linear , color  0.3s linear, fill .3s linear;
}
