.base-skin{
    --dark-skin-color: #0e0e1b;
    --dark-skin-text-color: #f6f6f6;


    // forms
    // input
    --input-height: 50px;
    // button
    --btn-height: 50px;

    --skin-change-transition: background-color 0.3s linear , color  0.3s linear, fill .3s linear;
}
