.skin-dark{
    --dark-skin-color: #09101d;

    --primary-light: #86ed8e;
    --primary : #86ed8e;
    --primary-dark: #58c958;
    
    --primary-text-color: #09101d;

    --gray-text-color: #73737D;
    --body-bg-color: var(--dark-skin-color);
    --body-text-color: #fff;

    // anchor
    --anchor-color: var(--primary);
    --anchor-color-hover: var(--primary-dark);

    --selection-bg-color: var(--primary-light);
    --selection-text-color: #000; 


    // header
    --header-bg-color: var(--dark-skin-color);
    --header-text-color: #fff;
    --header-text-hover-color: var(--primary);

    // footer
    --footer-bg-color: #121523;

    // article page
    --articleText: #f0f0f0;
    //#2b363c


    // forms
    // input
    --input-background-color: #09101d;
    --input-border-color: #b2b2b2;
    --input-border-color-focus: var(--primary);
    --input-text-color: #fff;
    // button
    --btn-primary-color: var(--primary);
    --btn-primary-text-color: var(--primary-text-color)

}

