.skin-light{
    // GRAY background
    --gray-background-color: #ddd;
    --light-gray-background-color: #ececec;

    // GRAY colors
    --gray-text-color: #838383;
    --dark-gray-text-color: #606060;

    // BORDER Colors
    --gray-border-color: #d5d5d5;
    --dark-gray-border-color: #909090;


    // PRIMARY COLORS
    --primary-lighter: #ffd8a8;
    --primary-lighter-text-color: #000;

    --primary-light: #ffc073;
    --primary-light-text-color: #000;

    //
    --primary: #ffab44;
    --primary-text-color: #000;

    --primary-dark: #f78800;
    --primary-dark-text-color: #fff;
    --primary-darker: #d77904;

    --secondary: #ffdb3a;
    
    // GRADIents
    --primary-gradient: radial-gradient( #ffdb3a, #ffb254);


    // BODY COLORS
    --body-bg-color: #fff;
    --body-text-color: #111;

    // logo color
    --logo-color: #000;


    // ANCHOR
    --anchor-color: var(--primary);
    --anchor-color-hover: var(--primary-dark);
    


    // selection
    --selection-bg-color: #ffc680;    
    --selection-text-color: #000; 

    // mark
    --mark-bg-color: #ffc680;    
    --mark-text-color: #000; 


    // header
    --header-bg-color: #fff;
    --header-opposite-bg-color: #000;
    --header-text-color: #000;
    --header-text-hover-color: var(--primary-dark);


    // footer
    --footer-bg-color: var(--light-gray-background-color);

    // article page
    --articleText: #28343a;
    //#2b363c


    // forms
    // input
    --input-background-color: #fff;
    --input-border-color: #b2b2b2;
    --input-border-color-focus: var(--primary-dark);
    --input-text-color: #000;

    // button
    --btn-primary-color: var(--primary);
    --btn-primary-color-hover: var(--primary);
    --btn-primary-text-color: var(--primary-text-color);

    // code
    --code-bg-color: #e4e4e4;
    --code-text-color: #000;

    --pre-bg-color: #dedede7a;
    --pre-text-color: #000;

}

