.skin-light{
    --primary-light: #89c989;
    --primary : #45b545;
    --primary-dark: #259925;
    --primary-text-color: #fff;


    --gray-text-color: #73737D;
    --body-bg-color: #fff;
    --body-text-color: #000;
    --anchor-color: var(--primary);
    --anchor-color-hover: var(--primary-dark);

    --selection-bg-color: #bfeebf;    
    --selection-text-color: #000; 


    // header
    --header-bg-color: #fff;
    --header-opposite-bg-color: #000;
    --header-text-color: #000;
    --header-text-hover-color: var(--primary-dark);


    // footer
    --footer-bg-color: #fbfbfb;

    // article page
    --articleText: #28343a;
    //#2b363c


    // forms
    // input
    --input-background-color: #fff;
    --input-border-color: #b2b2b2;
    --input-border-color-focus: #259925;
    --input-text-color: #000;
    // button
    --btn-primary-color: var(--primary);
    --btn-primary-text-color: var(--primary-text-color)
}

