.skin-light{
    --primary-light: #89c989;
    --primary : #39aa39;
    --primary-dark: #259925;
    --primary-text-color: #fff;
    --primary-gray-background-color: #eeeeee;

    --logo-color: #000;

    --gray-text-color: #86868e;
    --dark-gray-text-color: #595959;
    --body-bg-color: #fff;
    --body-text-color: #111;

    --anchor-color: var(--primary);
    --anchor-color-hover: var(--primary-dark);

    --selection-bg-color: #bfeebf;    
    --selection-text-color: #000; 


    // header
    --header-bg-color: #fff;
    --header-opposite-bg-color: #000;
    --header-text-color: #000;
    --header-text-hover-color: var(--primary-dark);


    // footer
    --footer-bg-color: var(--primary-gray-background-color);

    // article page
    --articleText: #28343a;
    //#2b363c


    // forms
    // input
    --input-background-color: #fff;
    --input-border-color: #b2b2b2;
    --input-border-color-focus: #259925;
    --input-text-color: #000;

    // button
    --btn-primary-color: var(--primary);
    --btn-primaru-color-hover: var(--primary-dark);
    --btn-primary-text-color: var(--primary-text-color);

    // code
    --code-bg-color: #e4e4e4;
    --code-text-color: #000;

    --pre-bg-color: #dedede7a;
    --pre-text-color: #000;

}

