.skin-light{
    --primary : #a2dfa2;

    --gray-text-color: #73737D;
    --body-text-color: #000;

    --selection-bg-color: #d1e7d1 ;    
    --selection-text-color: #000; 

    // links
    --link-color: pink;
    --link-hover-color: palevioletred;

    // header
    --header-bg-color: #fff;
    --header-text-color: #000;
    --header-text-hover-color: #000;

    // article page
    --articleText: #28343a;
    //#2b363c
}

