.skin-light{
    --gray-text-color: #73737D;
    --body-text-color: #000;
    
    // links
    --link-color: pink;
    --link-hover-color: palevioletred;

    // header
    --header-bg-color: #fff;
    --header-text-color: #000;
    --header-text-hover-color: #000;

    // article page
    --articleText: #263238;
}

