.site-footer{
    background-color: var(--footer-bg-color);
    .footer-contact-section{
        text-align: center;
        padding: 10rem 0 4rem;
    }
    .footer-bottom{
        display: flex;
        justify-content: space-between;
        padding: 5rem 0;
    }
    .footer-bottom-copy{
        font-size: 1.1rem;
    }
    .footer-nav{
        .nav-item{
            text-decoration: none;
            color: var(--body-text-color);
        }
    }


    @media screen and (max-width: 735px){
        .footer-bottom{
            gap: 6rem;
            padding: 6rem 0 7rem;
            flex-direction: column;
            align-items: center;
        }
        .footer-nav{
            .nav-item{
                text-decoration: none;
                color: var(--body-text-color);
            }
        }    
    }

}