.site-header{
    padding: calc(3rem + 2vw) 0 1.5rem;
    background-color: var(--header-bg-color);

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        font-size: 1.2rem;
        font-weight: 600;
    }

    .nav-item{
        padding: 1rem 0;
        color: var(--header-text-color);
        font-size: 0.9rem;
        text-decoration: none;
        text-transform: uppercase;   
        &:not(:last-of-type){
            margin-right: 2.5rem;
        }
    }
    .nav-item:hover{
        color: var(--header-text-hover-color);
    }

}

@media screen and (max-width: 1300px){
    .site-header{
        padding: 3rem 0 1.5rem;
    }
}
@media screen and (max-width: 735px){
    .site-header{
        padding: 1.8rem 0 1rem;
    }

}

@media screen and (max-width: 540px){
    .site-header{
        position: relative;
        top: 10px;
        margin-bottom: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        &:before{
            content: '';
            position: absolute;
            top: -10px;
            bottom: 10px;
            left: 0;
            right: 0;
            background-color: black;
            z-index: -10;
            opacity: 1;
        }
        .nav-item:not(:last-of-type){
            margin-right: 1.5rem;
        }    

    }
}
